<div class="container">
  <nav
    class="p-2 m-2 border border-info"
    *ngIf="authService.hasRoleIn(['USER'])"
  >
    <button class="btn btn-outline-info" (click)="handleNewProduct()">
      New product
    </button>
  </nav>
  <ng-template #errors>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Products List</div>
    <div class="card-body">
      <form
        class="form"
        *ngIf="searchFormGroup"
        [formGroup]="searchFormGroup"
        (ngSubmit)="handleSearchPageProductsByKeyword()"
      >
        <div class="input-group">
          <label class="input-group-text">Keyword</label>
          <input type="text" class="form-control" formControlName="keyword" />
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>In stock</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity + " " }}unit</td>

            <td *ngIf="authService.hasRoleIn(['ADMIN'])">
              <button (click)="handleEditProduct(p)" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td *ngIf="authService.hasRoleIn(['ADMIN'])">
              <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <div class="container">{{ currentPage + 1 }} / {{ totalPages }}</div>
        <div class="container">{{ pageSize }} per page</div>
      </table>
      <ul class="nav nav-pills">
        <li
          class="btn ms-1 mt-1"
          (click)="
            handleGetPageProduct(searchFormGroup.value.keyword, i, pageSize)
          "
          *ngFor="let item of [].constructor(this.totalPages); let i = index"
          [ngClass]="i === currentPage ? 'btn-info' : 'btn-outline-info'"
        >
          {{ i + 1 }}
        </li>
      </ul>
    </div>
  </div>
</div>
